.main {
  padding: 1rem;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.imageGallery > li {
  flex-basis: 350px;
  flex-grow: 1;
}

.imageContainer {
  min-height: 300px;
  position: relative;
  display: flex;
}

.imageGallery figcaption {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
}

.imageGallery img {
  margin: auto;
  object-fit: contain;
}

.actions {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
}

.actions__description {
  padding: 1rem;
}
